{% extends 'store/layout.html' %}

{% block content %}
<div class="container">
    <h2 class="category_title">Products in {{ category.name }}</h2>
    {% for model_name, products in category_products.items %}
        <div class="row">
            {% for product, image_url, discounted_price, discount_percentage in products %}
                <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                    <div class="card">
                        <a href="{% url 'store:product_view' category_name=product.category.name product_id=product.id %}">
                            <img src="{{ image_url }}" alt="{{ product.name }}" class="card-img-top">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">{{ product.name }}</h5>
                            <div class="price-container">
                                {% if discounted_price %}
                                    <span class="discount-text">{{ discount_percentage }}% OFF</span>
                                    <span class="card-text price-text">${{ discounted_price|floatformat:2 }}</span>
                                {% else %}
                                    <span class="card-text price-text">${{ product.price }}</span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
</div>
{% endblock %}
