{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Duckyware</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'store/css/general.css' %}">
    <link rel="stylesheet" href="{% static 'store/css/layout.css' %}">
    <link rel="stylesheet" href="{% static 'store/css/home.css' %}">
    <link rel="stylesheet" href="{% static 'store/css/category_search.css' %}">
    <link rel="stylesheet" href="{% static 'store/css/product_view.css' %}">
    <link rel="stylesheet" href="{% static 'store/css/cart.css' %}">
    <link rel="stylesheet" href="{% static 'store/css/checkout.css' %}">
    <!-- Images -->
    <link rel="icon" type="image/x-icon" href="{% static 'store/images/cs50_logo.ico' %}">
</head>
<body>
    <header>
        <!-- topbar -->
        <div class="top-bar">
            <form action="{% url 'store:search' %}" method="GET" class="search-container">
                <input type="text" name="query" placeholder="Search..." required>
                <button type="submit"><img src="{% static 'store/images/search-icon.svg' %}" alt="Search"></button>
            </form>
            <div class="icon-container">
                {% if user.is_authenticated %}
                    <div class="user-icon-container">
                        <a href="{% url 'store:profile' %}">
                            <img src="{% static 'store/images/user-icon.svg' %}" alt="Profile">
                            <span class="user-name">{{ user.username }}</span>
                        </a>
                        <div class="user-dropdown">
                            <a href="{% url 'store:profile' %}">Profile</a>
                            <a href="{% url 'store:wishlist' %}">Wishlist</a>
                            <a href="{% url 'store:orders' %}">Orders</a>
                            <a href="{% url 'store:logout' %}">Logout</a>
                            {% if user.is_staff or user.is_superuser %}
                                <!-- enter to admin panel -->
                                <a href="{% url 'admin:index' %}">Admin Panel</a>
                            {% endif %}
                        </div>
                    </div>
                {% else %}
                    <a href="{% url 'store:login' %}">
                        <img src="{% static 'store/images/user-icon.svg' %}" alt="Sign In">
                        <span class="sign-in-register">Sign In / Register</span>
                    </a>
                {% endif %}
            </div>
            <div class="cart-container">
                <a href="{% url 'store:cart' %}">
                    <img src="{% static 'store/images/cart-icon.svg' %}" alt="Cart">
                    <span class="cart-text">{{ cart_items }} items - ${{ cart_total }}</span>
                </a>
            </div>
        </div>              
        <h1 class="title"><a href="{% url 'store:home' %}" class="site-title">DUCKYWARE</a></h1>
    </header>
    

    <!-- category navbar -->
    <nav>
        <ul class="nav-menu">
            {% for category in categories %}
                {% if not category.parent %}
                    <li class="nav-item">
                        <a href="{% url 'store:category' category.name %}">{{ category.name }}</a>
                        {% if category.children.all %}
                            <ul class="submenu">
                                {% for subcategory in category.children.all %}
                                    <li>
                                        <a href="{% url 'store:category' subcategory.name %}">{{ subcategory.name }}</a>
                                        {% if subcategory.children.all %}
                                            <ul class="submenu">
                                                {% for subsubcategory in subcategory.children.all %}
                                                    <li><a href="{% url 'store:category' subsubcategory.name %}">{{ subsubcategory.name }}</a></li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
    
    <main>
        {% block content %}

        {% endblock %}
    </main>

    <footer>
        <div class="footer-content">
            <p>&copy; 2024 Duckyware. All rights reserved.</p>
            <p>This project is created by Raúl Estevez for the final project of <br>"CS50's Web Programming with Python and JavaScript" offered by HarvardX.</p>
            <p>Find me on <a href="https://www.linkedin.com/in/raulesteveza/" target="_blank">LinkedIn</a>.</p>
            <p>
                <a href="#">Privacy Policy</a> | 
                <a href="#">Terms of Service</a>
            </p>
        </div>
    </footer>
</body>
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <!-- SweetAlert JS -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- Custom JS -->
    <script src="{% static 'store/js/javascript.js' %}"></script>
</html>



